.page404{
	padding-top: 87px;
	text-align: center;
	padding-bottom: 170px;
}
.page404 img{
	display: block;
	margin: 0 auto;
}
.error404{
	margin-top: 45px;
	font-family: 'gotham_promedium', sans-serif;
	font-size: 34px;	
	line-height: 34px;
}
.desc-404{
	margin-top: 17px;
	font-family: 'pt_sansregular', sans-serif;
	font-size: 16px;
}
.link-404{
	margin-top: 62px;
	font-family: 'pt_sansregular', sans-serif;
}
.link-404 a{
	font-size: 16px;
}